
<h2>Морской бой</h2>

<div id="informationBlock">
    <h3 id="informationLabel">Введите имя игрок №1</h3>
    <div id = "actionField">
        <input id = "namePlayer">
        <button id = "actionSend">Отправить</button>
    </div>
</div>

{playAreas}

<h2 style = "margin-top:20px; ">Справка</h2>
<div style="margin: 10px">
1 корабль - 4 палубный. 2 корабля - 3 палубных. 3 корабля - 2 палубных. 4 корабля - однопалубные
<br>
оранжевый - ячейка занята кораблем. зеленый - выстрел мимо. красный - корабль потоплен. пурпурный - попадание, но корабль на плаву
</div>